#category {
    position: absolute;
    top: 10px;
    /* left: 10px; */
    border-radius: 5px;
    border: 1px solid #909090;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    background: #fff;
    /* overflow: hidden; */
    z-index: 2;
    width: 200px;
    height: 100px;
    margin-left: 27px;
}

#category li {
    float: left;
    list-style: none;
    width: 30px;
    /* border-right: 1px solid #acacac; */
    padding: 6px 0;
    text-align: center;
    cursor: pointer;
}

#img {
    margin: -200px -50px 10px -100px;
}

#category li span {
    font-size: large;
    display: block;
    margin: -20px -50px;
    width: 50px;
    height: 28px;
}

/* #category li.on {
    background: #eee;
} */

/* 마우스 클릭 시 변화 */
#category li:hover {
    background: #ffe6e6;
    border-left: 1px solid #acacac;
    margin-left: -1px;
}

/* #category li:last-child {
    margin-right: 0;
    border-right: 0;
} */

/*#category li .category_bg {
    background: no-repeat;
}*/

/*#category li .hospital {
    background-position: -10px -36px;
}

#category li .pharmacy {
    background-position: -10px -72px;
}

#category li.on .category_bg {
    background-position-x: -46px;
}*/