.container {
  background-color: #E3ECF1;
}
.sidebar {
  background-color: #E3ECF1;
  border-right: 4px solid #202020;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  transition: 0.4s ease;
  color: #202020;
  height: 100%;  
  margin-top:120px;

}

/*질별통계 데이터 페이지 CSS 부분*/
.illnessList{

}
.inputIllnessName{
  z-index:1;
  
}
/*질병 통계 데이터 페이지 CSS 부분 끝*/