.container {
  background-color: #eeeeee;
  border-right: 4px solid #202020;
  /* position: fixed; */
  height: 100%;
  width: 500px;
  z-index: 99;
}

#btn {
  float: left;
  width: 150px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  font-weight: bold;
}

input {
  margin-left: 5px;
  display: inline-block;
	width: 20px;
	height: 20px;
	border: 2px solid #bcbcbc;
	cursor: pointer;
}

input[id="check1"]:checked + label {
	background-color: #666666;
}

.locationCheck{
  margin-left: 100px;
}

.w-btn-outline {
  position: relative;
  padding: 15px 30px;
  border-radius: 15px;
  font-family: "paybooc-Light", sans-serif;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
}

.w-btn-blue-outline {
  border: 3px solid #6aafe6;
  color: #6e6e6e;
}

.w-btn-blue-outline:hover {
  background-color: #6aafe6;
  color: #d4dfe6;
}

.w-btn-pink-outline {
  border: 3px solid #f199bc;
  color: #6e6e6e;
}

.w-btn-pink-outline:hover {
  background-color: #f199bc;
  color: #d4dfe6;
}

.w-btn-outline:hover {
  letter-spacing: 2px;
  transform: scale(1.2);
  cursor: pointer;
}

.w-btn-outline:active {
  transform: scale(1.5);
}

