.container {
  background-color: #f1e8e3;
  border-right: 4px solid #202020;
  position: fixed;
  height: 100%;
  width: 500px;
  z-index: 99;
}

#btn {
  float: left;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  font-weight: bold;
}

.SearchHP {
  float: left;
  margin: 100px 50px auto -200px;
}

#SearchHPChild {
  margin-top: 10px;
}

input {
  margin-left: 5px;
}

