.illnessPageHeader{
  
  margin-left: 280px;
  margin-top:-4px;
  border: 4px solid black;
  background-color: #E3ECF1;
  position:fixed;
  z-index: 3;
  width:100%;
  height:120px;
  z-index:24;
}

.searchConditionHeader{
  float:left;
  text-align: center;
}
.searchConditionDetailHeader{
  float:justify;
  text-align: center;
}
.nursinghomelocation{
  
}